html
	include ../partials/_lib.pug
	hr
	body
		.container
			include ../partials/_nav.pug
			.row
				h1#joinroom= room.name
				h3= room.location
				form(action='/rooms/join', method='post')
						input(type='hidden', name='room_id', id='room_id', value=room._id)
						button.btn.btn-success.btn-lg(type='submit') Join!
				hr
				.col
					h4 Now playing
					input(id='nowplaying' type='hidden', name='country', value=room.playlist.youtube[0])
					
					div#player
					
					
					hr
					h4 Playlist
					#stuff.list-group
						each val in room.playlist.youtube
							a.list-group-item= val


		script(src='http://www.youtube.com/player_api')
		script(src='/js/socket.io.js')
		script(src='/js/rooms/show.js')

